/* ==========================================================================
       Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .post-footer .author {
        margin: 0 0 2rem;
        padding: 0 0 1.6rem;
        border-bottom: #ebf2f6 1px dashed;
    }
}
